.enter-site {
  background:-webkit-linear-gradient(bottom left, rgba(255,82,99,0.9) 10%, rgba(255,115,129,0.9) 65%, rgba(252,189,1,0.9) 125%);
  background:linear-gradient(to top right, rgba(255,82,99,0.9) 10%, rgba(255,115,129,0.9) 65%, rgba(252,189,1,0.9) 125%);
  position:absolute;
  width:100%;
  height:100%;
  text-align:center;
}

.enter-site-box {
  width:585px;
  text-align:left;
  margin:auto;
  margin-top:10%;
  background:#fff;
  position:relative;
  border-radius:3px;
  box-shadow:0 1px 3px 0 rgba(0,0,0,0.15);
}

.mt-5p {
  margin-top:5%;
}

.enter-site-box a {
  width:90%!important;
  display:block;
  margin:auto;

}

.enter-site-box-inner {
  padding:45px 30px;
}

.error {
  position:absolute;
  bottom:42%;
  text-align:center;
  width:100%;
  color:red;
}

.enter-site-box input {
  width:90%;
  margin:auto;
  margin-bottom:20px;
}

.enter-site-box label {
  text-align:left;
  width:90%;
  margin:auto;
  margin-bottom:20px;
}

.enter-site-box .input-wrapper {
  width:100%;
  text-align:center;
}

.form-header h1{
  text-align:center;
}

.form-submit-btn-wrapper {
  width:90%;
  margin:auto;
  text-align:right;
  margin-top:40px;
}

@media (max-width:768px) {
  .enter-site-box {
    width:99%;
  }
}
