#left-panel-component {
  width:20%;
  float:left;
  min-height:921px;
  color:#fff;
  background:#222b37;
  position:relative;
  padding-top:5px;
}

#left-panel-component span {
  padding-left:15px;
  font-weight:bold;
  font-size:1.4em;
  color:#95e0ff;
}

.project-options-component {
  margin-top:30px;
}


.circle-btn {
  background:linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%);
  transition:background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  -webkit-transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  border-radius:12px;
  outline:none;
  border:none;
  color:#fff;
  height:21px;
  width:21px;
  position:absolute;
  right:15px;
  box-sizing:border-box;
  display:flex;
}

.circle-btn:hover {
  box-shadow:0 0 0 3px #fcbd01;
}
