#right-panel-component {
  width:80%;
  float:left;
  height:900px;
}

.right-panel-header {
  width:100%;
  background:#fff;
  border-bottom:1px solid #e0e6e8;
  padding:5px 0;
}
#edit-project-form input  {
  font-size:2em;
  border:none;
  height:40px;

}
.list-component {
  height:620px;
  background:rgba(225,225,225, .8);
  margin-left:10px;
  display:inline-block;
  padding-top:20px;
  padding-bottom:10px;
  overflow-y:auto;
}

.project-header {
  box-shadow:0 1px 3px 0 rgba(0,0,0,0.15);
  background:#fff;
  text-align:center;
  padding-top:8px;
  padding-bottom:15px;
}

.task-user span {
  text-transform: uppercase;
  font-size:12px;
}

.add-user-task {
  box-shadow:0 0 0 3px #fcbd01;
  display:inline-block;
  border:none;
  color:#fcbd01;
  border-radius:50%;
  position:absolute;
  background:transparent;
  right:8px;
  top:85px;
  width:24px;
  height:24px;
  text-align:center;
  transition:background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  -webkit-transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  outline:none;
}
.task-user {
  box-shadow:0 0 0 3px #fcbd01;
  display:inline-block;
  color:#fff;
  background:-webkit-linear-gradient(bottom left, #ff5263 0%, #ff7381 35%, #fcbd01 100%);
  border-radius:50%;
  width:24px;
  height:24px;
  margin-left:10px;
  text-align:center;
  margin-top:12px;
  transition:background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  -webkit-transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
}
.add-user-task:hover,
.task-user:hover {
  background:-webkit-linear-gradient(bottom left, #ff5263 0%, #ff7381 35%, #fcbd01 100%);
  box-shadow:0 0 0 3px #fcbd01;
  color:#fff;
  border-color:transparent;
}

button {
  outline:none!important;
}

.submit-btn {
  transition:background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  -webkit-transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  background:transparent;
  border:none;;
  color:#f06292;
  height:30px;
  line-height:20px;
  border-radius:3px;
  margin-top:10px;
  box-shadow:inset 0 0 transparent, 0 0 0 3px #f48fb1;
}


::-webkit-input-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.addCollaboratorDropdown {
  text-align:right;
  margin-top:10px;
  margin-bottom:10px;
}

.addCollaboratorDropdown select {
  background:none;
  border-color:#fff;
  color:#fff;
  margin-right:20px;
  height:30px;
  line-height:25px;
}

.addCollaboratorDropdown input {
  background: linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%);
  height:30px;
  line-height:23px;
  border:none;
  color:#fff;
}

.addCollaboratorDropdown input:hover {
  box-shadow:0 0 0 3px #fcbd01;
  border-color:transparent;
}



#submit-task-form input {
  border:none;
  border-bottom:1px solid #fff;
  background:none;
  color:#fff!important;
}

.submit-btn:hover {
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  color:#fff;
  border-color:#f06292;
  box-shadow:inset 0 0 transparent, 0 0 0 3px #f48fb1;
}

.edit-project-btn {
  border:none;
  background:none;
  padding-left:20px;
}

.edit-project-btn i {
  margin-top:-20px;
  font-size:1.4em;
}

.collab-container small {
  color:#fff;
}

.task-users {
  text-align:right;
  padding-right:32px;
}

.list-component:hover {
  cursor:pointer;
}

.project-header h1 {
  margin-top:0;
  margin-bottom:0;
}

/* Side List Buttons  */
.side-list-btn-container {
  position:relative;

}

.project-option-btn {
  width:100%;
  text-align:left;
}

.side-list-btn-container:hover {
  background:linear-gradient(to right, #25e8c8, #32c1ff);
}

.side-list-btn-container button {
  background:transparent;
  border:none;
  outline:none;
  padding:10px 15px;
  color:#fff;
}

.projet-option-delete-btn {
  position:absolute;
  right:0;
}

.list-container {
  width:98%;
  margin:auto;
  overflow-x:scroll;
  height: 80vh;
}

.list-component {
  width:300px;
  float:left;
  padding:5px;
}

.add-task-btn {
  width:100%;
  padding:5px 0;
  margin:5px 0;
  background:#fff;
  color:#b7bfc6;
  outline:none;
  border:2px solid transparent;
  border-radius:3px;
  box-shadow:0 1px 3px 0 rgba(0,0,0,0.15);
}

.editing-task-options button:hover {
  background:#796eff;
  color:#fff!important;
  cursor:pointer;
}

#edit-task-form {
  margin-top:15px;
}

#edit-task-form input {
  border:none;
  border-bottom:1px solid #f2f2f2;
  font-size:12px;
}

.add-task-btn:hover {
  box-shadow:0 0 0 2px #32c1ff;
}
.add-task-btn:hover i {
  color:#32c1ff;
}

.editing-task-options button {
  border-color:transparent;
  color:transparent;
  background:transparent;
  border-radius:50%;
  margin-left:10px;
  transition:background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  -webkit-transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
}

.task-component {
  padding:2px 10px;
  background:#fff;
  border-radius:3px;
  box-sizing: border-box;
  margin-top:10px;
  box-shadow:0 1px 3px 0 rgba(0,0,0,0.15);
  position:relative;
  height:125px;
  overflow-y:scroll;
}


.add-user-task:hover {
  display:block;
}

.task-component:hover {
  box-shadow:0 5px 10px 0 rgba(0,0,0, 0.1)
}

.task-component:hover .editing-task-options button {
  box-shadow:0 0 0 3px #847afb;
  color:#796eff;
}

.editing-list-btns {
  position:relative;
}

.right-chevron {
  float:right;
  font-size:.6em!important;
  padding-right:10px;
  color:#848f99;
}

.dropdown-button-btn-container {
  background:#fff;
  position:absolute;
  z-index:10;
  right:0;
  border:1px solid #d5dce0;
  box-shadow:0 5px 10px 0 rgba(0,0,0,0.1);
  box-sizing: border-box;
  border-radius:3px;
  padding:5px 0;
  width:60%;
}

.dropdown-button-btn:hover {
  background:linear-gradient(to right, #25e8c8, #32c1ff);
  color:#fff;
  cursor:pointer;
}

.dropdown-button-btn {
  width:100%;
  border:none;
  padding:4px 0;
  outline:none;
  background:transparent;
}

.right-chevron:hover {
  color:#14aaf5;
  cursor:pointer;
}

.editing-task-options {
  position:absolute;
  right:5px;
  top:10px;
}

.task-component input {
  width:100%;
}

.collaborators-container {
  position:absolute;
  right:60px;
  top:20px;
}

.add-collab-btn {
  position:absolute;
  right:-38px;
}
.project-user-dropdown select {
  height:30px;
  margin-top:10px;
  margin-right:10px;
  margin-bottom:30px;
}

.project-user-dropdown input  {
  display:inline-block;
  width:auto;
  height:26px;
  width:50px;
  color:#2cacd1;
  background:none;
  margin-top:10px;
  box-shadow:0 0 0 3px #2cacd1;
  border:none;
}

.project-user-dropdown input:hover {
  background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
  color:#fff;
}


.collab-container {
  float:right;
}

.collab-circle-grey {
  width:20px;
  height:20px;
  text-align:center;
  margin-left:10px;
  color:#b7bfc6;
  border:1px solid #b7bfc6;
  display:inline-block;
  border-radius:50%;
}

.collab-circle-grey:hover {
  color:#32c1ff;
  box-shadow:0 0 0 3px #32c1ff;
  border:1px solid transparent;
}

.collab-circle {
  width:20px;
  height:20px;
  text-align:center;
  margin-left:10px;
  color:#32c1ff;
  box-shadow:0 0 0 3px #32c1ff;
  display:inline-block;
  border-radius:50%;
}

.collab-circle-delete-overlay {
  position:absolute;
  top:0;
  height:20px;
  width:20px;
  border-radius:50%;
  transition:background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  -webkit-transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
}

.collab-circle-delete-overlay i {
  color:transparent;
}

.collab-circle-delete-overlay:hover {
  color:#fff;
  background:linear-gradient(to right, #25e8c8, #32c1ff);
  border-radius:50%;
  box-shadow:0 0 0 3px #32c1ff;
  cursor:pointer;
}

.collab-circle-delete-overlay:hover i {
  color:#fff;
}

.submit-list {
  position:relative;
}

#submit-list-form label {
  color:#fff;
}

#submit-project-form {
  padding-left:14px;
  margin-top:20px;
  margin-bottom:20px;
}

#submit-task-component input {
  width:100%;
}

.submit-list {
  width:96%;
  margin:auto;
  padding:10px 0;
}
