.all-user-tasks {
  background:rgba(255,255,255, .7);
  width:20%;
  float:left;
  padding: 10px 20px;
  border-radius:4px;
  margin-left:3px;
}

.all-user-tasks p {
  margin-top:5px;
}

.top-user-tasks-header {
  width:100%;
  margin-bottom:10px;
}
